/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
/* HEADER PART + WELCOME IMG*/
body,
html {
  margin: 0;
  color: #1a1a1a;
  font-family: sans-serif;
  font-weight: lighter;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  margin: 0;
  padding: 0.5rem;
  justify-content: space-around;
  background-color: white;
  height: 4rem;
  width: 100%;
}
header > img {
  margin-left: 2rem;
  height: 3rem;
}
ul {
  /* text-align: center; */
  float: right;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
ul > li {
  margin-right: 3rem;
}
#first-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  height: 800px;
  width: 100%;
  align-items: center;
  color: white;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0;
  animation: rotate-enter 1.5s;
}
#first-div p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  animation: rotate-enter 1.5s;
}
/* SECOND PART => WHAT'S ON SPOTIFY*/
#second-div {
  text-align: center;
}
#all-what {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
h2 {
  margin-top: 2rem;
  display: inline-block;
  border-bottom: 3px solid #00b172;
}
.what {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.what h3 {
  color: #00b172;
}
.what img {
  height: 50%;
}
.icon {
  width: 9rem;
}
/* THIRD PART KENNY WEST*/
#third-div {
  background-color: #00b172;
  display: flex;
  justify-content: space-around;
  color: #fff;
  margin: 0 2rem 0 2rem;
  font-size: 1.4rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#bloc-txt-west {
  display: flex;
  flex-direction: column;
  width: 36%;
}
#bloc-txt-west > h2 {
  display: inline-block;
  border-bottom: 3px solid #fff;
  font-size: 1.8rem;
}
#bloc-txt-west > h3 {
  font-size: 1.4rem;
}
#bloc-txt-west p {
  width: 18rem;
}
#third-div > .icon {
  width: 8rem;
  height: 8rem;
  align-self: center;
  margin-left: -15rem;
}
#west-img {
  height: 40rem;
  width: 20rem;
  align-self: center;
}

/* ANIMATION*/
@keyframes rotate-enter {
  0% {
    transform: scale(0);
  }
  10% {
    transform: rotateZ(36deg) scale(0.1);
  }
  20% {
    transform: rotateZ(72deg) scale(0.2);
  }
  30% {
    transform: rotateZ(108deg) scale(0.3);
  }
  40% {
    transform: rotateZ(146deg) scale(0.4);
  }
  50% {
    transform: rotateZ(182deg) scale(0.5);
  }
  60% {
    transform: rotateZ(218deg) scale(0.6);
  }
  80% {
    transform: rotateZ(256deg) scale(0.7);
  }
  90% {
    transform: rotateZ(292deg) scale(0.8);
  }
  100% {
    transform: rotateZ(328deg) scale(0.9);
  }
}
